@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

.header-container {
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    padding: 0 10%;
    background-color: rgb(248, 248, 248);
}

.header-container img {
    width: 200px;
}

.flex {
    display: flex;
}

.nav ul {
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    font-weight: 600;
    margin-right: 30px;
    font-size: 16px;
    text-transform: uppercase;
    color: rgb(75, 80, 80);
}

.nav ul li a:hover {

    color: rgb(8, 152, 219);
}

.bg-slider {
    width: 100%;
    background: url(../images/bg1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    min-height: 720px;
}

.bg-container {
    display: flex;
    justify-content: end;
    flex-direction: column;
    width: 50%;
    align-items: end;
   

}

.bg-container {
    font-size: 24px;
    line-height: 24px;
    font-family: Raleway, Arial, Helvetica, sans-serif;
}