@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

.header-container {
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    padding: 0 10%;
    background-color: rgb(248, 248, 248);
}

.header-container h1 {
    font-size: 2rem;
    font-weight: 700;
}

#logo {
    color: rgb(126, 91, 15);
}

.flex {
    display: flex;
}

.nav ul {
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    font-weight: 600;
    margin-right: 30px;
    font-size: 16px;
    text-transform: uppercase;
    color: rgb(75, 80, 80);
}

.nav ul li a:hover {
    color: rgb(126, 91, 15);
}

.bg-slider {
    width: 100%;
    background: url(../images/bg1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    min-height: 720px;
}

.bg-container {
    display: flex;
    justify-content: end;
    flex-direction: column;
    width: 50%;
    align-items: end;
    padding: 10% 0;
}

.bg-container h3 {
    font-size: 34px;
    line-height: 24px;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 300;
    margin: 0;
}

.bg-container h1 {
    font-size: 6rem;
    line-height: 24px;
    font-weight: 300;
    color: rgb(126, 91, 15);
}

.bg-container p {
    font-size: 1rem;
    line-height: 24px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    padding-left: 5%;
    text-align: justify;
    margin: 0;
}

.btn-primary {
    line-height: 14px;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(126, 91, 15);
    border: 1px solid white;
    color: white;
    font-size: 14px;
    margin-top: 20px;
    opacity: .7;
}

.btn-secondary {
    line-height: 14px;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(121, 117, 109);
    border: 1px solid white;
    color: rgb(2, 1, 1);
    font-size: 14px;
    margin-top: 20px;
    opacity: .8;
}


@media screen and (max-width:567px) {
    .header-container {
        flex-direction: column;
        padding: 0 0;
    }

    .header-container h1 {
        font-size: 2rem;
        font-weight: 700;
        background-color: rgb(126, 91, 15);
        width: 100%;
        margin: 0 10px;
        padding: 5px 10px;
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-size: 1.6rem;
        text-align: center;
    }

    #logo {
        color: rgb(32, 26, 13);
    }

    .vav-ul {
        flex-direction: column;
    }

    .bg-container {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .bg-container p {
        font-size: 1rem;
        line-height: 24px;
        font-weight: 300;
        color: rgb(255, 255, 255);
        text-align: justify;
        margin: 0;
        padding-right: 10px;
    }
}